h1 {
    text-align: center;
    color: yellow;
}
body {
    background-color: red;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
}
h6 {
    text-align: center;
}
p {
    text-align: center;
}
.center {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}



