body {
  margin: 0;
  text-align: center;
}
.top-container {
  background-color: rgb(150, 157, 199);
}
h1 {
  margin:  0;

}

.middle-container, .bottom-container {
  height: 200px;
  width: 200px;
}

.middle-container {
  background-color: red;
}

.bottom-container {
background-color: blue;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  top: 200px;
}