body {
  margin: 0;
  text-align: center;
  font-family: 'Fira Code', monospace;
}
.top-container {
  background-color: #88b8c7;
  padding-top: 100px;
  z-index: -2;
  position: relative;
  height: auto;
  overflow: auto;
}

h1 {
  margin:  0;
  font-family: 'Montserrat Alternates';
  font-size: 60px;
  color: rgb(58, 56, 75);
}

.by-line {
  font-size: 25px;
}

.code {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  bottom: -45px; 
  opacity: 0.2;
}
.mountain {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  bottom: -5px;
}

.middle-container {

}

#profile-img {
  margin-top: 50px;
  border-radius: 50%;
}

#computer-img {
  border-radius:  50%;
}

.bottom-container {

}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 80px;
  z-index: -1;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  top: 280px;
}